/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
:root {
  /* Colors */
  --kurius-green-color: rgb(108, 114, 57);
  --bg-landingpage: #f2ebe1;
  --kurius-darkgreen-color: hsl(89, 38%, 19%);

  /* Fonts-size */
  --font-size-1: ;
  --font-size-2: ;
  --font-size-3: ;

  /* Fonts-Weight */

  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 800;

  /* Fonts-family */

  --font-family-1: "Libre Baskerville", serif;
  --font-family-2: ;
  --font-family-3: ;
}

/* Juanca */
.cabezoteRegistro {
  background-color: rgb(108, 114, 57);
  color: white;
}
.cajatextoRegistro {
  color: black;
}
.letraKurius {
  font-family: "Libre Baskerville", serif;
}

/* Julian */
.bd-placeholder-img {
  height: 50vh;
}
a:link,
a:active {
  text-decoration: none;
}

.navbar {
  background-color: var(--kurius-green-color);
}

.bold {
  font-weight: var(--font-weight-bold);
}

/* Steven */
.card2 {
  position: relative;
  transition: transform 0.2s;
  -webkit-box-shadow: -2px 9px 46px -14px rgb(15, 15, 15);
  -moz-box-shadow: -2px 9px 46px -14px rgba(15, 15, 15, 1);
  box-shadow: -2px 9px 46px -14px rgba(15, 15, 15, 1);
}
.card2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Richard */
